.inputWrapper {
  display: flex;
  padding: 1.6rem;
  border: 2px solid black;
}

.input {
  border: none;
  font-size: 2.6rem;
  width: 100%;
  background: transparent;
}

.input:focus {
  outline: none;
}

.warning {
  color: darkred;
  background: lightpink;
  padding: 2rem;
}
